[submodule "modules/tonton"]
	path = modules/tonton
	url = git@github.com:SpehleonLP/tonton.git
[submodule "modules/fx-gltf"]
	path = modules/fx-gltf
	url = https://github.com/jessey-git/fx-gltf
[submodule "modules/rintintin"]
	path = modules/rintintin
	url = git@github.com:SpehleonLP/rintintin.git
[submodule "modules/cxxopts"]
	path = modules/cxxopts
	url = https://github.com/jarro2783/cxxopts.git
[submodule "modules/chacha"]
	path = modules/chacha
	url = https://github.com/SpehleonLP/ChaCha
